* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    background: #170426;
}
.container {
    width: 1174px;
    margin: 0 auto;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 45px;
}
.logo {
    display: flex;
    width: 675px;
    align-items: flex-start;
    gap: 10px;
    background: radial-gradient(50% 50% at 30% 30%, rgba(170, 20, 240, 0.28) 10%, rgba(170, 20, 240, 0.00) 90%);
}
.logo h3 {
    color: #FFF;
    font-size: 22px;
    font-style: normal;
    font-family: 'Orbitron', sans-serif;
    font-weight: 700;
    line-height: normal;
}
.nav_links {
    width: 400px;
}
.nav_links ul {
    display: flex;
    list-style: none;
    gap: 50px;
}
.nav_links ul a{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.header_letter {
    display: flex;
}
.header_letter .header_button h1 {
    color: #FFF;
    margin-top: 138px;
    font-family: 'Poppins', sans-serif;
    font-size: 45px;
    width: 600px;
    display: inline-block;
    font-style: normal;
    font-weight: 600;
    line-height: 68px; 
}
.header_letter .header_button h1 span {
    width: 363px;
    font-family: 'Orbitron', sans-serif;
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: 72px;
    background: var(--2, linear-gradient(158deg, #F86CF8 0%, #64CEF5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.header_letter .header_button p {
    width: 521px;
    color: #FFF;
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.header_letter .header_button  .buttons {
    display: flex;
    margin-top: 48px;
    gap: 16px;
}
.header_letter .header_button  .buttons button:nth-child(1) {
    border: none;
    display: flex;
    width: 173px;
    padding: 12px 14px;
    justify-content: center;
    align-items: center;
    background: #170426;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid #fff;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.header_letter .header_button  .buttons button:nth-child(2) {
    border: none;
    display: flex;
    background: #170426;
    border:2px solid #fff;
    width: 173px;
    cursor: pointer;
    padding: 12px 14px;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    border-radius: 5px;
    line-height: normal;
} 
.header_letter .header_button  .buttons button:hover {
    background: var(--3, linear-gradient(158deg, #D10ED1 0%, #10A3DA 100%));
}
.header_letter .header_button .info {
    display: flex;
    margin-top: 40px;
    gap: 68px;
}
.header_letter .header_button .info .btn h2 {
    color: #FFF;
    font-family: 'Orbitron', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
} 
.header_letter .header_button .info .btn h3 {
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.header_letter   .header_img {
    display: flex;
    width: 1500px;
    height: 600px;
    border-radius: 50%;
    background: radial-gradient(50% 50% at 50% 50%, rgba(170, 20, 240, 0.28) 0%, rgba(170, 20, 240, 0.00) 100%);
}
.header_letter .header_img>div:nth-child(1) img {
    position: absolute;
    top: 300px;
    right:660px;
    width: 64px;
    height: 73px;
    fill: #FFF;
}
.header_letter .header_img>div:nth-child(2) img{
    position: relative;
    right: -40px;
    margin-top: 96px;
    width: 566px;
    height: 568px;
}
.images_section_1 {
    display: flex;
    gap: 154px;
    margin-top: 117px;
}
.img_section_1 {
    width: 532px;
    height: 439px;
}
.images_section_1 .letter_section_1 {
    margin-top: 80px   ;
}
.images_section_1 .letter_section_1 h2 {
    color: #FFF;
    font-family: 'Orbitron', sans-serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.images_section_1 .letter_section_1 h2 span {
    background: var(--2, linear-gradient(158deg, #F86CF8 0%, #64CEF5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Orbitron', sans-serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.images_section_1 .letter_section_1 p {
    width: 524px;
    color: rgba(255, 255, 255, 0.80);
    font-family: 'Poppins', sans-serif;
    margin-top: 16px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.images_section_1 .letter_section_1 button {
    display: flex;
    border: none;
    margin-top: 52px;
    width: 137px;
    height: 44px;
    padding: 12px 14px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 5px;
    background: var(--3, linear-gradient(158deg, #D10ED1 0%, #10A3DA 100%));
}
.section_card {
    margin-top: 166px;
}
.section_card .card_letter h2 {
    color: #FFF;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
} 
.section_card .card_letter h2 span {
    background: var(--2, linear-gradient(158deg, #F86CF8 0%, #64CEF5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Orbitron', sans-serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.section_card .card_letter p {
    margin: 0 auto;
    width: 584px;
    margin-top: 16px;
    color: rgba(255, 255, 255, 0.80);
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
 .cards {
    display: flex;
    align-items: flex-start;
    gap: 38px;
    margin-top: 87px;
    width: 1200px;
    flex-wrap: wrap;
}
 .cards .card {
    padding: 20px;
    width: 374px;
    border-radius: 0px 15px 0px 0px;
    background: #090823;
}
.cards .card>div:nth-child(1)>img {
    width: 335px;
    height: 217px;
    border-radius: 0px 15px 0px 0px;    
    display: flex;
    justify-content: center;
}
.cards .card h3 {
    color: #FFF;
    font-family: 'Orbitron', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 23px;
} 
.cards .card p {
    width: 336px;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-style: normal;
    margin-top: 8px;
    font-weight: 400;
    line-height: normal;
}
.cards .card .card_btn {
    margin-top: 28px;
    gap: 13px;
    margin-bottom: 37px;
    display: flex;
}
.cards .card .card_btn button:nth-child(1) {
    border: none;
    display: flex;
    width: 103px;
    padding: 12px 14px;
    justify-content: center;
    align-items: center;
    border: 2px solid #fff;
    border-radius: 5px;
    color: #FFF;
    background: #170426;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    cursor: pointer;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.cards .card .card_btn>button:nth-child(2) {
    border: none;
    display: flex;
    width: 122px;
    justify-content: center;
    align-items: center;
    border: 2px solid #fff;
    border-radius: 5px;
    background: #090823;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    cursor: pointer;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.cards .card .card_btn button:hover {
    background: var(--3, linear-gradient(158deg, #D10ED1 0%, #10A3DA 100%));
}
.section_video {
    text-align: center;
    margin-top: 186px;
}
.section_video h2 {
    color: #FFF;
    font-family: 'Orbitron', sans-serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.section_video h2 span {
    background: var(--2, linear-gradient(158deg, #F86CF8 0%, #64CEF5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Orbitron', sans-serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.section_video p {
    width: 561.516px;
    margin: 0 auto;
    margin-top: 16px;
    transform: rotate(0.26deg);
    color: rgba(255, 255, 255, 0.80);
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.section_video img {
    width: 1182px;
    height: 650px;
    margin-top: 55px;
    border-radius: 25px;
}


