* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #170426;
}
.container {
    max-width: 1174px;
    margin: 0 auto;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 45px;
}
.logo {
    display: flex;
    max-width: 675px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 896px;
} 
.logo h3 {
    color: #FFF;
    font-size: 22px;
    font-style: normal;
    font-family: 'Orbitron', sans-serif;
    font-weight: 700;
    line-height: normal;
}
.nav_links {
    max-width: 400px;
}
.nav_links ul {
    display: flex;
    list-style: none;
    gap: 50px;
}
.nav_links ul a{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.header_letter {
    display: flex;
}
.header_letter .header_button h1 {
    color: #FFF;
    margin-top: 138px;
    font-family: 'Poppins', sans-serif;
    font-size: 45px;
    width: 600px;
    display: inline-block;
    font-style: normal;
    font-weight: 600;
    line-height: 68px; 
}
.header_letter .header_button h1 span {
    max-width: 363px;
    font-family: 'Orbitron', sans-serif;
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: 72px;
    background: var(--2, linear-gradient(158deg, #F86CF8 0%, #64CEF5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.header_letter .header_button p {
    max-width: 521px;
    color: #FFF;
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.header_letter .header_button  .buttons {
    display: flex;
    margin-top: 48px;
    gap: 16px;
}
.header_letter .header_button  .buttons button:nth-child(1) {
    border: none;
    display: flex;
    max-width: 173px;
    padding: 12px 14px;
    justify-content: center;
    align-items: center;
    background: #170426;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid #fff;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.header_letter .header_button  .buttons button:nth-child(2) {
    border: none;
    display: flex;
    background: #170426;
    border:2px solid #fff;
    max-width: 173px;
    cursor: pointer;
    padding: 12px 14px;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    border-radius: 5px;
    line-height: normal;
} 
.header_letter .header_button  .buttons button:hover {
    background: var(--3, linear-gradient(158deg, #D10ED1 0%, #10A3DA 100%));
}
.header_letter .header_button .info {
    display: flex;
    margin-top: 40px;
    gap: 68px;
}
.header_letter .header_button .info .btn h2 {
    color: #FFF;
    font-family: 'Orbitron', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
} 
.header_letter .header_button .info .btn h3 {
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.header_letter   .header_img {
    display: flex;
    margin-top: 96px;
    max-width: 1500px;
    height: 600px;
    border-radius: 50%;
    background: radial-gradient(50% 50% at 50% 50%, rgba(170, 20, 240, 0.28) 0%, rgba(170, 20, 240, 0.00) 100%);
}
.images_section_1 {
    display: flex;
    gap: 154px;
    margin-top: 117px;
}
.img_section_1 {
    max-width: 532px;
    height: 439px;
}
.images_section_1 .letter_section_1 {
    margin-top: 80px   ;
}
.images_section_1 .letter_section_1 h2 {
    color: #FFF;
    font-family: 'Orbitron', sans-serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.images_section_1 .letter_section_1 h2 span {
    background: var(--2, linear-gradient(158deg, #F86CF8 0%, #64CEF5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Orbitron', sans-serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.images_section_1 .letter_section_1 p {
    max-width: 524px;
    color: rgba(255, 255, 255, 0.80);
    font-family: 'Poppins', sans-serif;
    margin-top: 16px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.images_section_1 .letter_section_1 button {
    display: flex;
    border: none;
    margin-top: 52px;
    max-width: 137px;
    height: 44px;
    padding: 12px 14px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 5px;
    background: var(--3, linear-gradient(158deg, #D10ED1 0%, #10A3DA 100%));
}
.section_card {
    margin-top: 166px;
}
.section_card .card_letter h2 {
    color: #FFF;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
} 
.section_card .card_letter h2 span {
    background: var(--2, linear-gradient(158deg, #F86CF8 0%, #64CEF5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Orbitron', sans-serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.section_card .card_letter p {
    margin: 0 auto;
    max-width: 584px;
    margin-top: 16px;
    color: rgba(255, 255, 255, 0.80);
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
 .cards {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 38px;
    margin-top: 87px;
    max-width: 1200px;
    flex-wrap: wrap;
}
 .cards .card {
    padding: 20px;
    max-width: 374px;
    border-radius: 0px 15px 0px 0px;
    background: #090823;
}
.cards .card>div:nth-child(1)>img {
    max-width: 335px;
    height: 217px;
    border-radius: 0px 15px 0px 0px;    
    display: flex;
    justify-content: center;
}
.cards .card h3 {
    color: #FFF;
    font-family: 'Orbitron', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 23px;
} 
.cards .card p {
    max-width: 336px;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-style: normal;
    margin-top: 8px;
    font-weight: 400;
    line-height: normal;
}
.cards .card .card_btn {
    margin-top: 28px;
    gap: 13px;
    margin-bottom: 37px;
    display: flex;
}
.cards .card .card_btn button:nth-child(1) {
    border: none;
    display: flex;
    width: 103px;
    padding: 12px 14px;
    justify-content: center;
    align-items: center;
    border: 2px solid #fff;
    border-radius: 5px;
    color: #FFF;
    background: #170426;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    cursor: pointer;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.cards .card .card_btn>button:nth-child(2) {
    border: none;
    display: flex;
    width: 122px;
    justify-content: center;
    align-items: center;
    border: 2px solid #fff;
    border-radius: 5px;
    background: #090823;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    cursor: pointer;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.cards .card .card_btn button:hover {
    background: var(--3, linear-gradient(158deg, #D10ED1 0%, #10A3DA 100%));
}
.section_video {
    margin-top: 186px;
}
.section_video h2 {
    text-align: center;
    color: #FFF;
    font-family: 'Orbitron', sans-serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.section_video h2 span {
    background: var(--2, linear-gradient(158deg, #F86CF8 0%, #64CEF5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Orbitron', sans-serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.section_video p {
    max-width: 561.516px;
    margin: 0 auto;
    margin-top: 16px;
    transform: rotate(0.26deg);
    color: rgba(255, 255, 255, 0.80);
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.section_video .video_icons {
    display: flex;
    gap: 54px;
    overflow-x: scroll;
    overflow-y: hidden;
}
.section_video .videos_icon {
    position: relative;
}
.section_video .videos_icon .videos_icon1{
    max-width: 1182px;
    height: 650px;
    margin-top: 55px;
    border-radius: 25px;
}
.section_video .videos_icon .videos_icon2 {
    position: absolute;
    top: 300px;
    left: 540px;
    margin: 0 auto;
    color: rgb(249, 239, 239);
    max-width: 120px;
    height: 120px;
    
}
.section_video .videos_icon .fashion {
    position: absolute;
    top: 560px;
    padding: 44px 48px 0 50px;
    max-width: 1182px;
    height: 148px;
    border-radius: 0px 0px 25px 25px;
    background: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(5px);
}
.section_video .fashion h3 {
    color: #FFF;
    font-family: 'Orbitron', sans-serif;
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

footer {
    margin: 0 auto;
    margin-top: 224px;
    background: #090823;
    padding: 104px 0 126px 0;
}
.Footer {
    display: flex;
    margin: 0 auto;
    max-width: 1247px;
}
.footer_1 h2 {
    font-family: 'Orbitron', sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: var(--2, linear-gradient(158deg, #F86CF8 0%, #64CEF5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.footer_1 p {
    max-width: 524px;
    margin-top: 23px;
    color: rgba(255, 255, 255, 0.80);
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.Footer .footer_2 {
    display: flex;
    gap: 82px;
}
.Footer .footer_2 h2 {
    color: #FFF;
    font-family: 'Orbitron', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
ul {
    list-style: none;
}
 a {
    text-decoration: none;
}
.Footer .footer_2 a {
    color: #FFF;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.Footer .footer_2 ul{
    margin-top: 21px;
}
.Footer .footer_2 .Contact p {
    max-width: 263px;
    margin-top: 24px;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.Footer .footer_2 .Contact ul {
    display: flex;
    align-items: center;
    gap: 21px;

}
.Footer .footer_2 .Contact ul li img {
    max-width: 35px;
    height: 35px;
}

/* @media screen and ( max-width:480px ) {
    .container {
        max-width: 375px;
        text-align: center;
    }
} */

