* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    background: #170426;
}
.container {
    width: 1174px;
    margin: 0 auto;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 45px;
}
.logo {
    display: flex;
    width: 675px;
    align-items: flex-start;
    gap: 10px;
}
.logo h3 {
    /* color: #FFF; */
    font-size: 22px;
    font-style: normal;
    font-family: 'Orbitron', sans-serif;
    font-weight: 700;
    line-height: normal;
}
.nav_links {
    width: 400px;
}
.nav_links ul {
    display: flex;
    list-style: none;
    gap: 50px;
}
.nav_links ul a{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    /* color: #FFF; */
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.header_letter {
    display: flex;
}
.header_letter .header_button h1 {
    /* color: #FFF; */
    margin-top: 138px;
    font-family: 'Poppins', sans-serif;
    font-size: 45px;
    width: 600px;
    display: inline-block;
    font-style: normal;
    font-weight: 600;
    line-height: 68px; 
}
.header_letter .header_button h1 span {
    width: 363px;
    font-family: 'Orbitron', sans-serif;
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: 72px;
    background: var(--2, linear-gradient(158deg, #F86CF8 0%, #64CEF5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.header_letter .header_button p {
    width: 521px;
    /* color: #FFF; */
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.header_letter .header_button  .buttons {
    display: flex;
    margin-top: 48px;
    gap: 16px;
}
.header_letter .header_button  .buttons button:nth-child(1) {
    display: flex;
    width: 173px;
    padding: 12px 14px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    background: var(--3, linear-gradient(158deg, #D10ED1 0%, #10A3DA 100%));
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: none;
}
.header_letter .header_button  .buttons button:nth-child(2) {
    display: flex;
    background: #170426;
    width: 173px;
   border: none;
    border:10px solid var(linear-gradient(#d35cd3 0%, #145871 50%));
    padding: 12px 14px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    border-radius: 5px;
    line-height: normal;
} 
.header_letter .header_button .info {
    display: flex;
    margin-top: 40px;
    gap: 68px;
}
.header_letter .header_button .info .btn h2 {
    /* color: #FFF; */
    font-family: 'Orbitron', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
} 
.header_letter .header_button .info .btn h3 {
    /* color: #FFF; */
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.header_letter .header_button .header_img {
    display: flex;
}
.header_letter .header_button .header_img:nth-child(1) {
    width: 64px;
    height: 73px;
    fill: #FFF;
}
.header_letter .header_button .header_img:nth-child(2) {
    width: 566px;
    height: 568px;
}